name: CI

on:
  push:
    branches: "*"
  pull_request:
    branches: master

jobs:
  linux:
    name: ${{ matrix.python-version }}-posix
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Miniconda
      uses: mamba-org/provision-with-micromamba@main
      with:
        cache-downloads: true
        channels: conda-forge,defaults
        environment-name: ZCollection
        environment-file: conda/environment.yml
        extra-specs: |
          python=${{ matrix.python-version }}

    - name: Run Tests
      shell: bash -l {0}
      run: |
        python -m setuptools_scm
        pytest -v -ra

  s3-fs:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install MinIO
      run: |
        mkdir -p /opt/minio/bin
        wget -nv -P /opt/minio/bin \
          https://dl.min.io/server/minio/release/linux-amd64/minio
        chmod +x /opt/minio/bin/minio

    - name: Add MinIO To System Path
      run: |
        echo /opt/minio/bin >> $GITHUB_PATH

    - name: Setup Miniconda
      uses: mamba-org/provision-with-micromamba@main
      with:
        cache-downloads: true
        channels: conda-forge,defaults
        environment-name: ZCollection
        environment-file: conda/environment.yml
        extra-specs: |
          python=3.9

    - name: Run Tests
      shell: bash -l {0}
      run: |
        python -m setuptools_scm
        pytest -v -ra --s3

  win:
    name: win
    runs-on: windows-2019
    timeout-minutes: 15

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Miniconda
      uses: mamba-org/provision-with-micromamba@main
      with:
        cache-downloads: true
        channels: conda-forge,defaults
        environment-name: ZCollection
        environment-file: conda/environment.yml
        extra-specs: |
          python=3.9

    - name: Run Tests
      shell: bash -l {0}
      run: |
        python -m setuptools_scm
        pytest -v -ra
